
.row1 {
}
img {
    width: 400px;
    height: 200px;
    border: none;
    align-items: center;
}

th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

/*
tr:nth-child(even) {background-color: #f2f2f2;}
*/

.alert {
    text-align: center;
    padding: 10px;
    background: #58EF83;
    color: white;
    margin-bottom: 10px;
    display: none;
}